<div id="<%= dom_id affiliate %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= affiliate.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Cpf:</strong>
    <%= affiliate.cpf %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Email:</strong>
    <%= affiliate.email %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Whatsapp:</strong>
    <%= affiliate.whatsapp %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Cep:</strong>
    <%= affiliate.cep %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Street:</strong>
    <%= affiliate.street %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Number:</strong>
    <%= affiliate.number %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Complement:</strong>
    <%= affiliate.complement %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Neighborhood:</strong>
    <%= affiliate.neighborhood %>
  </div>
  <div>
    <strong class="block font-medium mb-1">City:</strong>
    <%= affiliate.city %>
  </div>
  <div>
    <strong class="block font-medium mb-1">State:</strong>
    <%= affiliate.state %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Accepted image use:</strong>
    <%= affiliate.accepted_image_use? ? "Yes" : "No" %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Accepted at:</strong>
    <%= affiliate.accepted_at %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Signature name:</strong>
    <%= affiliate.signature_name %>
  </div>
</div>
